/* Assigment section styles
-------------------------------------------------- */

.assigment-page{
  .due_at{
      float: right;
      font-size: 0.7em;
      font-weight: normal;
      color: #A2A2A2;
      padding-top: 2px;
  }
}