/* 
 * Version: v1.0
 * Author:  Luis Rojas
 * Main styles
 * Modified on : May 15, 2016
*/ 


@import "_variables";
@import "_base";     
 
//Sections
@import "_assigments";
@import "_home"; 
@import "_submissions";             

//Responsive
//@import "_responsive";
 