<section class="winners">

  <div class="container">
    <h1>Bienvenido a la Trivia de Movistar Star Wars!</h1>
    <p class="cine-name">Cinepolis Plaza Lincoln</p>
     <button class="mainbtn btn btn-default" ng-click="reloadData()">Recargar</button>
    <uib-accordion close-others="oneAtATime">
      
      <uib-accordion-group is-open="status.open" ng-repeat="result in results">
        <uib-accordion-heading>
          {{result.pregunta}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
          <p>Codigo: {{result.codigo}}</p>
          <p>Ganadores:</p>
          <ul ng-repeat="winner in result.ganadores">
            <li>{{winner.name}}, {{winner.screen_name}}</li>
          </ul>
          <ul ng-show="!result.ganadores.length">
            <li>No se encontraron ganadores para la pregunta.</li> 
          </ul>   
      </uib-accordion-group>
      
    </uib-accordion>
    
  </div>

</section>