<section>

  <div class="container landing">
    <h1>Bienvenido a Movistar Star Wars</h1>
    <p>Esto es el landing page.</p>

    <div class="btns-malls">
      <a class="mainbtn btn btn-block btn-default" href="#/cinemarkCityMall">Cinemark City Mall</a>
    
      <a class="mainbtn btn btn-block btn-default" href="#/cinemarkEscazu">Cinemark Escazu</a>

      <a class="mainbtn btn btn-block btn-default" href="#/cinepolisLincoln">Cinepolis Lincoln</a>

      <a class="mainbtn btn btn-block btn-default" href="#/cinepolisPaseo">Cinepolis Paseo de las flores</a>

      <a class="mainbtn btn btn-block btn-default" href="#/cinepolisTerra">Cinepolis Terramall</a>
    </div>
    

  </div>
</section>