<section class="photos">
  <div class="container">
    <h1>Bienvenido a Movistar Star Wars</h1>
    <p class="cine-name">Esta pagina muesta las fotos enviadas por los usuarios.</p>
    
    <div class="gallery">
      <ul class="row" ng-repeat="result in results">
        <li class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
           <img ng-src="{{result.url}}" alt="">
           <p>Texto: {{result.text}}</p>
           <p>Nombre: {{result.name}}</p>
           <p>Nombre de usuario: {{result.screen_name}}</p>
           <p class="date">Creado: {{result.created_at}}</p>
        </li>
      </ul> 

    </div>
  </div>
</section>